@model WebApplication_Domain.Entities.Appointment

@{
    ViewData["Title"] = "Details";
    Layout = User.IsInRole("Öğretmen") ? "_TeacherLayout" :
             User.IsInRole("Öğrenci") ? "_StudentLayout" :
             User.IsInRole("Admin") ? "_AdminLayout" : "_Layout";
}

<h1>Appointment Details</h1>
<hr />
<dl class="row">
    <dt class="col-sm-3">Package</dt>
    <dd class="col-sm-9">@Model.Package.Name</dd>

    <dt class="col-sm-3">Course</dt>
    <dd class="col-sm-9">@Model.Course.Name</dd>

    <dt class="col-sm-3">Student</dt>
    <dd class="col-sm-9">@Model.Student.User.Name</dd>

    <dt class="col-sm-3">Teacher</dt>
    <dd class="col-sm-9">@Model.Teacher.User.Name</dd>

    <dt class="col-sm-3">Date</dt>
    <dd class="col-sm-9">@Model.Date.ToString("dd.MM.yyyy HH:mm")</dd>

    <dt class="col-sm-3">Type</dt>
    <dd class="col-sm-9">@Model.Type</dd>

    <dt class="col-sm-3">Zoom Link</dt>
    <dd class="col-sm-9">
        @if (!string.IsNullOrEmpty(Model.ZoomLink))
        {
            <a href="@Model.ZoomLink" target="_blank">@Model.ZoomLink</a>
        }
        else
        {
            <span>-</span>
        }
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
